<div class="row">
    <div class="col-6">
        {{kw-counter}}
    </div>
    <div class="col-6">
        {{users/create-form}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{kw-state-presenter}}
    </div>
</div>